body {
  background-color: #fff;
  color: #2A2A2A;
  font-size: 16px;
  line-height: 1.4;
  page-break-after: auto;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 60%;
}

figcaption {
  font-size: 0.7em;
}

h1 {
  font-weight: 600;
  font-size: 1.5em;
  text-transform: capitalize;
}

h3 {
  font-size: 1.1em;
}

.author {
  font-style: italic;
  font-size: 1.1em;
}

p {
  margin-bottom: 1.5em;
}

a:link { color: #ffc125; } /* unvisited */
a:visited { color: #cc9a1d; } /* visited */
a:hover { color: #ffcd50; } /* mouse over */
a:active { color: #ffc125; } /* selected */

a {
  text-decoration: none;
}
